{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": "off",
    "max-len": "off"
  }
}
